/* Campo Usado para Criar Variáveis Globais */
:root{
	/* Cores */
		--corPrincipal: #1267B0; /* rgb(103,147,68) */
		--corSecundaria: #54595F; /* rgb(47,73,26) */
		--corSecundariaClara: #8CC878; /* rgb(140,200,120); */ 
		--corLetra: #6EC1E4; /* rgb(237,248,206) */
	/* fim Cores */
}

